 
:root {

    --bs-body-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


.card {
    border-radius: 0.75rem !important; 
}

.btn {
    border-radius: 0.625rem !important; 
}



footer {
    font-size: 0.9rem;
}

.link-hover {
    transition: opacity 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}

.link-hover:hover {
    opacity: 1 !important;
    text-decoration: underline !important;
}

.text-truncate-custom {

    line-clamp: 2;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    
    overflow: hidden;
}
