{% extends "base.html" %}

{% block title %}Add Person - Splitz{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm p-4">
            <h2 class="mb-4">Add Person</h2>
            <form method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Add new friend in your group</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
            <button type="submit" class="btn btn-primary w-100">Add Person</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

